.btn {
   border: 2px solid #2f70d9;
   border-radius: 5px;
   font-weight: 600;
	color: #2f70d9;
 
   max-width: 23rem;
   max-height: 4rem;
}
.btn-cta {
   background: #d95845;
   box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, 0.1);
   border-radius: 1rem;
	color: #fff;
	font-weight: 700;
}
