.thank {
   
   width: 25.1rem;
   height: 25.1rem;
	margin-bottom: 4rem;
   &__text {
      font-family: 'Lora', serif;
      font-weight: 700;
      font-size: 5rem;
      line-height: 6.4rem;
      letter-spacing: 0.03em;
		color: $color-accent-blue;
   }
}
